graft docs
recursive-include tests *.py *.yml *.csv
recursive-include src/bdgd2opendss *.py *.json *.csv

include .editorconfig
include *.txt

include CHANGELOG.md
include LICENSE
include README.md
include *.py

include tox.ini .travis.yml .readthedocs.yaml
